<!DOCTYPE html>
<html lang="en">
  
  <!-- head -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- linking the css stylesheet-->
    <link rel="stylesheet" href="css/main.css"/>
    <!-- title -->

</head>

<!-- body -->
<body >
    <!-- linking the javascript sorts file-->
    <script src="js/sorts.js"></script>
    <!--div tag with the header and new array button-->
    <navbar>
        <ul class="navlist">
            <li class="nav-item">
                 <a href="/">Arrays</a>
            </li>
            <li class="nav-item">
                <a href="/tree">Trees</a>
           </li>
           <li class="nav-item">
                <a href="/pathfinding">Pathfinding</a>
            </li>
            <li class="nav-item">
                <a href="/about">About</a>
           </li>
        </ul>        
    </navbar>
    <div class="abouttext">
         This site was created by Colin Graydon and Jesse Reed in order to help students visualize common algorithms.
    </div>
    <div class="abouttext">
        You can reach us at colingraydon@gmail.com or jessereed1991@gmail.com.
    </div>
    <div class="abouttext">
            <a href="https://github.com/colingraydon" style="color:white">Colin's Github</a>
            <a href="https://github.com/jessereed91" style="color:white">Jesse's Github</a>
        </div>
    </div>

    </body>
</html>