<!DOCTYPE html>
<html lang="en">
  
  <!-- head -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- linking the css stylesheet-->
    <link rel="stylesheet" href="css/main.css"/>
    <!-- title -->

</head>

<!-- body -->
<body >
    <!-- linking the javascript sorts file-->
    <script src="js/sorts.js"></script>
    <!--div tag with the header and new array button-->
    <navbar>
        <ul class="navlist">
            <li class="nav-item">
                 <a href="/">Arrays</a>
            </li>
            <li class="nav-item">
                <a href="/tree">Trees</a>
           </li>
           <li class="nav-item">
                <a href="/tree">Pathfinding</a>
            </li>
            <li class="nav-item">
                <a href="/about">About</a>
           </li>
        </ul>        
    </navbar>
    <div id = "title">
        <h1>Sort Visualizer</h1>
        <button  class="btn1" onclick="generate()" id="Button1" >New Array</button>  
    </div>
    <!-- the bars-->
    <section class="data-container"></section> 
      
    <div id = "main">
        <!-- "Selection Sort" button -->
        <button class="btn2" onclick="SelectionSort(),disable()" id="Button2" >
        Selection Sort</button>
        </body>
        
        <!-- "Merge Sort" button -->
        <button class="btn3" 
        onclick="MergeSort(),disable()" id="Button3" >
        Merge Sort</button>
        
        <!-- "Bubble Sort" button -->
        <button class="btn4" 
        onclick="BubbleSort(),disable()" id="Button4" >
        Bubble Sort</button>
        
        <!-- "Quick Sort" button -->
        <button class="btn5" 
        onclick="QuickSort(),disable()" id="Button5" >
        Quick Sort</button>
        
        <!-- "Strand Sort" button -->
        <button class="btn6" 
        onclick="StrandSort(),disable()" id="Button6" >
        Strand Sort</button>       
    </div>
    </body>
</html>