<!DOCTYPE html>
<html lang="en">
  
  <!-- head -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- linking the css stylesheet-->
    <link rel="stylesheet" href="css/main.css"/>
    <!-- title -->

</head>

<!-- body -->
<body onload="randomizeInput()">
    <!-- linking the javascript sorts file-->
    <script src="js/treeAlgo.js"></script>
    <!--nav bar-->
    <navbar>
        <ul class="navlist">
            <li class="nav-item">
                 <a href="/">Arrays</a>
            </li>
            <li class="nav-item">
                <a href="/tree">Trees</a>
           </li>
           <li class="nav-item">
                <a href="/pathfinding">Pathfinding</a>
            </li>
            <li class="nav-item">
                <a href="/about">About</a>
           </li>
        </ul>        
    </navbar>
    <!--title with button and randomized values-->
    <div id="title">
        <h1>Tree Visualizer</h1>
        <button class="btn1" onclick="refreshInput()" id="btn7">New Values</button>
    </div>
    <div id="tree-values"></div>
    <div id = "treemain">
        <button class="btn1" onclick="generateTree()" id="btn8">Generate Tree</button>
        <button class="btn1" onclick="add later" id="btn9">In-order</button>
        <button class="btn1" onclick="add later" id="btn10">Pre-order</button>
        <button class="btn1" onclick="add later" id="btn10">Post-order</button>
    </div>
    <canvas class="tree-canvas"></canvas>





    </body>
</html> 