

.mySlides {
    display: none;
}
  
body {
    background-color: rgb(34, 40, 49);
    font-family: Arial, Helvetica, sans-serif;
}
  
#line {
    position: relative; 
    margin: 0 auto;
    gap: 1em;
}

#title {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-right: 20vw;
    margin-left: 20vw;
    text-align: center;
    font-size: 15px;
    row-gap: 5px;
    gap: 6em;
}
#main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-right: 20vw;
    margin-left: 20vw;
    text-align: center;
    font-size: 15px;
    row-gap: 5px;
    gap: 1em;
}
.head {
    margin-top: 20px;
    margin-right: 20vw;
    margin-left: 20vw;
    text-align: center;
    font-size: 30px;
    color: white;
}
  
.data-container {
    width: 600px;
    height: 384px;
    position: relative;
    margin: 0 auto;
}


h1 {
    margin:0;
    text-align: center;
    font-weight: normal;
}

.bar {
    width: 28px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(57, 62, 70);
    transition: 0.2s all ease;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
  
.bar__id {
    position: absolute;
    top: -24px;
    width: 100%;
    text-align: center;
}
.btn1 {
    padding: 12px;
    background-color: rgb(0, 173, 181);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    border: white;
    margin-top: 4vw;
    margin-left: relative;
    cursor: pointer
}

.navlist {
    box-shadow: 0px 0px 10px;
    color: rgb(57, 62, 70);
    background-color: rgb(57, 62, 70);
    margin:0;
    padding:1rem 0;
    border-radius: .2rem;
    display:flex;
    justify-content:flex-start;
    align-items: center;
}

.nav-item{
    list-style: none;  
    margin-left: 2rem;
} 

.nav-item a{
    text-decoration: none;
    color:white
}

.nav-item:nth-child(4) {
    margin-right: 2rem;
    margin-left:auto;
}


.abouttext {
    display: flex;
    align-items: flex-start;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
    margin-right: 20vw;
    margin-left: 20vw;
    font-size: 20px;
    row-gap: 5px;
    gap: 1em;
}

.aboutlist {
    display: flex;
    justify-content: flex-start;
    margin-top: 70px;
    margin-right: 20vw;
    margin-left: 20vw;
    font-size: 25px;
    color: white

}
.aboutlinks {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color:white
}


.tree-container {

    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    color: white
}

.tree {
    width: 28px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(57, 62, 70);
    transition: 0.2s all ease;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
  
.tree_id {

    text-align: center;
    font-size: 20px;
    color: white;
}

.tree-values {

    flex: auto;
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 40px;
}